@charset "UTF-8";

/*
    PALETA DE CORES
    Verde: #49a09d
    Violeta: #5f2c82
*/
*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    width: 250px;
    height: 515px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transition: width .3s, heigt .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}
section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat ;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}
section#login > div#formulario{
    display: block;
    padding: 10px;
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p{
    font-size: 0.8em;
}
form > div.campo{
    background: #5f2c82;
    border: 2px solid  #5f2c82;
    margin: 5px 0px;
    border-radius: 7px;
    display: block;
    width: 100%;
    height: 40px;
}
div.campo > label {
    display: none;
}
div.campo > span{
    color: white ;
    padding: 5px;
    width: 40px;
    font-size: 2em;
}
div.campo > input {
    background-color: #6cd3cf;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 7px;
    padding: 4px;
    transform: translateY(-12px);
}
div.campo > input:focus-within{
    background-color: white;
} 
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d ;
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}
form > input[type=submit]:hover{
    background-color: #2d6462;
}
form > a.botao{
    display: block;
    border-radius: 7px;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 1em;
    margin-top: 5px;
    padding-top: 5px;
    color: #2d6462;
    border: #2d6462 solid 1px;
    cursor: pointer;
    text-decoration: none;
}
form > a.botao:hover{
    cursor: pointer;
    background-color: #6cd3cf;
}
form > a.botao > span {
    color: #2d6462;
    font-size: 0.8em;
}
