@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.container{
    display: grid;
    grid-template: repeat(11,80px) / repeat(16, 1fr) ;
    gap: 5px;
    grid-auto-flow: row;
    grid-auto-rows: 80px;
}
header{
    grid-area: 1/1/2/-1;
    font-size: 2em;
    background-color: gray;
    text-align: center;
}
menu{
    grid-area: 2/1/3/-1;
    background-color: darkgrey;
}
nav{
    grid-area: 2/2/3/-2;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 5px;
}
section{
    border: solid 1px lightgrey;
    grid-area: 3/1/-2/12;
}
article{
    border: solid 1px lightgrey;
    grid-area: 3/12/-2/-1;
}
p {
    padding: 8px;
    margin-bottom: 5px;
}
h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}
h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}
footer{
    grid-area: -2/1/-1/-1;
    background-color: black;
    color: white;
    text-align: center;
}